<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="OpenGL.Net" version="0.8.4" targetFramework="net461" requireReinstallation="true" />
  <package id="OpenTK" version="3.0.1" targetFramework="net461" />
  <package id="RSG.Promise" version="3.0.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net452" />
</packages>